body{
    background-image: linear-gradient(to left bottom, #228b22, #009872, #009eb7, #009ee4, #6495ed);
    box-shadow: 10px 5px 5px green;
    border-radius: 1%;
    position:absolute; left: 420px; top:20px;

}

h1{
    text-align: center;
    color: #9DC183;
    outline: 5px;
    outline-color: black;
    font-size:55px;
    font-family: cursive;
    text-shadow: #009872;
}