body{
    font-size: 120%;
    background-image: linear-gradient(to left bottom, #228b22, #009872, #009eb7, #009ee4, #6495ed);
    box-shadow: 10px 5px 5px green;
    border-radius: 1%;
    position:absolute; left: 420px; top:20px;
    box-sizing:content-box;
    width: 1500px;

}

h1{
    background-image: linear-gradient(to bottom, #c9b59a, #bf9e7c, #b68760, #ac7047, #a35732);
    text-align: center;
    color: #1b6f1b;
    outline: 5px;
    outline-color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size:70px;
    font-weight: 700;
    text-shadow: 5px 5px 0px #228b22, 
          10px 10px 0px #4b983b, 
          15px 15px 0px #69a652, 
          20px 20px 0px #84b36a, 
          25px 25px 0px #9dc183; 
          
    width: 600px;
    height: 110px;
    margin:0 auto;
    margin-top: 10px;
}

/* background-image: linear-gradient(to top, #9dc183, #84b36a, #69a652, #4b983b, #228b22); */