<p>My Plant List</p>

<div *ngFor="let d of personalPlantDataJr; index as i">
    <p>Common Name: {{d.personalPlant.common_name}}</p>
    <p>Scientific Name: {{d.personalPlant.scientific_name}}</p>
    <p>Nickname: {{d.personalPlant.nickname}}</p>
    <div *ngIf = "!d.displayForm">
        <button (click)="deletePersonal(d.personalPlant.id)">Delete Plant</button>
        <button (click)="showForm(i)">Change Nickname</button>
    </div>
    <form *ngIf="d.displayForm" #userForm="ngForm">
        <label>Nickname</label>
        <input name="nickname" type="text" [(ngModel)]="plantNickname"/>
        <button (click)="showForm(i)" (click)="updatePersonal(d.personalPlant.id)">Change Nickname</button>
  </form>
</div>  <!--Need to fix this on Thursday-->
  
