<p>My Plant List</p>

<div *ngFor="let d of personalPlantData">
    <p>Common Name: {{d.common_name}}</p>
    <p>Scientific Name: {{d.scientific_name}}</p>
    <p>Nickname: {{d.nickname}}</p>
    <div *ngIf = "!displayForm">
        <button (click)="deletePersonal(d.id)">Delete Plant</button>
        <button (click)="showForm()">Change Nickname</button>
    </div>
    <form *ngIf="displayForm" #userForm="ngForm">
        <label>Nickname</label>
        <input name="nickname" type="text" [(ngModel)]="plantNickname"/>
        <button (click)="showForm()" (click)="updatePersonal(d.id)">Change Nickname</button>
  </form>
</div>
  
